<IfModule mod_headers.c>
  <Files subframe.html>
    Header append  Permissions-Policy: geolocation=self,https://cr2.kungfoo.net
  </Files>

  <Files index.html>
    Header append  Permissions-Policy: geolocation=self
  </Files>
</IfModule>
