

.offset-frame {
  position: absolute;
  top: 400px;
  left: 400px;
}

.transform-rotate {
  transform: rotate(90deg);
  transform-origin: top left;
}

.transform-skew {
  transform: skewx(10deg);
}

.transform-translate {
  transform: translatex(150px);
}

.transform-scale {
  transform: scale(2);
}
