

.offset-frame {
  position: absolute;
  top: 600px;
  left: 600px;
  height: 500px;
  width: 500px;
}

.small-offset-frame {
  position: absolute;
  top: 30px;
  left: 30px;
}

.transform-rotate {
  transform: rotate(90deg);
  transform-origin: top left;
}

.transform-skew {
  transform: skewx(10deg);
}

.transform-translate {
  transform: translatex(150px);
}

.transform-scale {
  transform: scale(2);
}
